
#Assigment_05
assignments/assignment_05/data/raw/*
assignments/assignment_05/data/trimmed/*
assignments/assignment_05/log/*

#Lesson_06
lessons/lesson_06/data/ecoli_bl21de3.fasta
lessons/lesson_06/data/lambda_reads.fastq
lessons/lesson_06/data/ref/genome

#assignment_06
assignments/assignment_06/data
assignments/assignment_06/assemblies

#lesson_07
lessons/lesson_07/ref
lessons/lesson_07/output
lessons/lesson_07/data

#lesson_08
lessons/lesson_08/data
